PORT=3000
NODE_ENV=development

DB_HOST=mysql-xxxx.aivencloud.com
DB_PORT=14781
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASS=
DB_SSL=true

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
